

{% extends "dashboard/dash_header.html" %}
{% block content %}

<div class="wrapper">
    {% include 'dashboard/sidebar.html' %}

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                {% include 'dashboard/toplinks.html' %}
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Recent Datasets</h4>
                                <p class="category">List of datasets you recently uploaded</p>
                            </div>
                            <div class="content">
                               <!--  <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div> -->
                               <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-2"></div>
                                    <div class="col-sm-8 hidden-sm col-xs-8">
                                        {% load staticfiles %}
                                        <img class="dash-icons img-circle img-responsive" src="{% static '/img/dashboard-data-icon.png' %}">
                                    </div>
                                    <div class="col-sm-2 col-xs-2"></div>
                                </div>
                               </div>
                               
                                <div class="content table-responsive table-full-width">
                                

                                <table class="table table-hover table-striped">
                                    <tbody>
                                        {% for data in dataset_list %}
                                            <tr>
                                                <td>{{data.dataset_name}}</td>
                                            </tr>
                                        {% endfor %}

                                        {% if not dataset_list %}
                                            <tr>
                                                
                                                <td><b>Nothing Here Yet. Go to dataset section to add some.</b>
                                            </tr> 
                                        {% endif %}

                                    </tbody>
                                </table>

                            </div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="pe-7s-note2"></i> <a href='{{root_url}}/dashboard/datasets'>Visit Data Section</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Recent Models</h4>
                                <p class="category">List of recent models you generated</p>
                            </div>
                            <div class="content">
                                <!-- <div id="chartHours" class="ct-chart"></div> -->
                                <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-4"></div>
                                    <div class="col-sm-6 hidden-sm col-xs-6">
                                        {% load staticfiles %}
                                        <img class="dash-icons" src="{% static '/img/dashboard-model-icon.png' %}">
                                    </div>
                                    <div class="col-sm-4 col-xs-4"></div>
                                </div>
                               </div>
                               
                                <div class="content table-responsive table-full-width">
                                

                                <table class="table table-hover table-striped">
                                    <tbody>
                                        {% for model in model_list %}
                                            <tr>
                                                <td>{{model.model_name}}</td>
                                            </tr>
                                        {% endfor %}

                                        {% if not model_list %}
                                            <tr>
                                                
                                                <td><b>Nothing Here Yet. Go to models section to add some.</b>
                                            </tr> 
                                        {% endif %}

                                    </tbody>
                                </table>

                            </div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="pe-7s-science"></i> <a href='{{root_url}}/dashboard/models'>Visit Models Section</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Recent Reports</h4>
                                <p class="category">Here are your recent reports</p>
                            </div>
                            <div class="content">
                                <div id="chartActivity" class="ct-chart"></div>

                                <div class="footer">
                                   
                                    <hr>
                                    <div class="stats">
                                        <i class="pe-7s-news-paper"></i> <a href='{{root_url}}/dashboard/reports'>Visit Reports Section</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>


        {% include 'dashboard/footer.html' %}

    </div>
</div>

{% endblock %}