<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>Parkinson Detection System</title>

    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/circle.css' %}">

    <!--From Dashboard -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'css/demo.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    <!-- Dashboard ends -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {% block content %}
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="{% static 'js/bootstrap.min.js'%}"></script> -->
  </body>

  {% load staticfiles %}


    <!--   Core JS Files   -->
    
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'js/bootstrap-checkbox-radio-switch.js' %}"></script>

    <!--  Charts Plugin -->
    <script src="{% static 'js/chartist.min.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'js/bootstrap-notify.js' %}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static 'js/light-bootstrap-dashboard.js' %}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="{% static 'js/demo.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            demo.initChartist();

            $.notify({
                icon: 'pe-7s-gift',
                message: "Welcome to <b>Open Source Parkinson Detection System</b>"

            },{
                type: 'info',
                timer: 4000
            });

        });
    </script>

    <!--custom scripts -->
<script type="text/javascript">

    $('#id_dataset_author').val('{{userObj.username}}');
    $('#id_model_author').val('{{userObj.username}}');

    $('.cust-data-form').find('p').each(function(id, obj){
        if(id == 1 || id == 2){
            $(this).css('display','none');
        }
    })

    <!-- manage sidebar list -->
        var page = $('.navbar-brand').text();
        $('.nav').find(`li[class='active']`).removeClass('active');
        switch(page){
            case 'Dashboard':
                var link = $('.nav').find(`li[data-page='dashboard']`);
                link.addClass('active');
                break;
            case 'User Profile':
                var link = $('.nav').find(`li[data-page='profile']`);
                link.addClass('active');
                break;
            case 'Datasets':
                var link = $('.nav').find(`li[data-page='datasets']`);
                link.addClass('active');
                break;
            case 'Models':
                var link = $('.nav').find(`li[data-page='models']`);
                link.addClass('active');
                break;
            case 'Reports':
                var link = $('.nav').find(`li[data-page='reports']`);
                link.addClass('active');
                break;
            case 'Prediction':
                var link = $('.nav').find(`li[data-page='prediction']`);
                link.addClass('active');
                break;
        }


    <!-- Manage Sidebar Active Li -->

    <!-- Disable ID input on new model page -->


    var aDummyInput = "<input type='text' class='form-control' id='dummy-dataset-name' disabled> ";
    var html = aDummyInput +  "<a class='show-modal-link' data-toggle='modal' data-target='#datasetModal' href=''>Select a Dataset</a><br>";

    $('#id_model_algo').parent().prepend(html);   
    $('.cust-data-id').parent().hide();

    <!-- Disable ID input on new model page -->

    <!-- Get ID from MODAL -->
    $('.show-modal-link').click(function(e){

        $('.data-in-modal-row').unbind('click');
        $('.data-in-modal-row').click(function(e){
            var id = $(this).data('id');
            var name = $(this).data('name');
            $('#id_model_data_id').val(id);
            $('#dummy-dataset-name').val(name);
            $('.data-in-modal-row').removeClass('selected-modal-row');
            $(this).addClass('selected-modal-row');
            $('#datasetModal').modal('toggle');
        });

    });

    <!-- Get ID from MODAL -->

    <!-- Send Get Request To Configure Page -->

        $('#model-list-table').find('a#configure-model-btn').click(function(e){
                var model_id = $(this).data('id');
                var url = "configure?id="+model_id;
                $.get(url, function( data ){
                  $( ".result" ).html( data );
                  $(".result").data("model-id", model_id);

                    $('.result').find('li').unbind('hover');
                    $('.result').find('li').hover(function(e){
                        $('.result').find('li').find('span').addClass('configure-links-hide');
                        $(this).find('span').removeClass('configure-links-hide');
                    });

                    $('.result').find('ul').find('li').find('a').unbind('click');
                    $('.result').find('ul').find('li').find('a').click(function(e){

                        var btnClicked = $(this).attr('id');

                        var isInsig = $(this).parent().data('insig');
                        var isClassifer = $(this).parent().data('classifier');

                        if(btnClicked == 'configure-mark-red'){
                            
                            if(isClassifer == 1){
                                isClassifer = 0;
                                $(this).parent().data('classifier', 0);
                                $(this).parent().parent().parent().parent().toggleClass('highlight-row-configure-green');      
                            }
                            if(isInsig == 1){
                                isInsig = 0;
                                $(this).parent().data('insig', 0);
                            }
                            else{
                                $(this).parent().data('insig', 1);
                                isInsig = 1;
                            }
                            
                            $(this).parent().parent().parent().parent().toggleClass('highlight-row-configure-red');
                        }
                        if(btnClicked == 'configure-mark-green'){

                            if(isInsig == 1){
                                return;
                            }

                            if(isClassifer){
                                isClassifer = 0;
                                $(this).parent().data('classifier', 0);
                            }
                            else{
                                
                                $('.result').find('ul').find('li').find('span').each(function(e, obj){
                                    if($(obj).data('classifier') == 1){
                                        $(obj).data('classifier', 0);
                                        $(obj).parent().parent().parent().toggleClass('highlight-row-configure-green');
                                    }

                                });

                                $(this).parent().data('classifier', 1);
                                isClassifer = 1;
                            }
                            
                            $(this).parent().parent().parent().parent().toggleClass('highlight-row-configure-green');
                        }
                    });

                    

                });

                $('#save-config-settings').unbind('click');
                $('#save-config-settings').click(function(e){
                    var insig_field = '';
                    var class_field = '';
                    var counter = 0;
                    var id = $(".result").data("model-id");

                    $('.result').find('ul').find('li').find('span').each(function(e, obj){

                       // alert($(obj).data('colname'));
                        if($(obj).data('classifier') == 1){
                            class_field = $(obj).data('colname');
                        }
                        if($(obj).data('insig') == 1){
                            if(counter != 0)
                                insig_field = insig_field + ',' + $(obj).data('colname');
                            else
                                insig_field = $(obj).data('colname');
                        }

                        counter++;
                    });

                    //Save Configuration Settings
                    var url = "configure/";
                    
                    var csrf_token = $('#csrf_for_config').val();

                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                // Only send the token to relative URLs i.e. locally.
                                xhr.setRequestHeader("X-CSRFToken",
                                                     csrf_token);
                            }
                        }
                    });
                    
                    var JsonText = '{"csrf_token":"'+csrf_token+'", "insig":"'+insig_field+'", "class":"'+class_field+'","model_id":"'+id+'"}';
                    var obj = JSON.parse(JsonText);


                    $.ajax({
                      type: "POST",
                      url: url,
                      data: {"post_data":JSON.stringify(obj)},
                      //data: csrf_token,
                      success: function(data_returned){
                         $('#configure-model-modal').modal('toggle');
                        }
                    });

                });

                
        });

    <!-- Send Get request to config page -->

    <!-- Create Report Ajax request -->

       $('#create-report-btn').click(function(e){

                var id = $(this).data('id');
                var url = "{{root_url}}/dashboard/reports/new/?id="+id;
                alert(url);
                $.get(url, function( data ){
                    $('#modal-create-report').find('.report-created-text').html("Report created succesfully!");
                });
        });

    
    <!-- Create Report Ajax ends -->

    <!--  View Report Ajax -->

        $('#report_list_table').find('a').click(function(e){
            var id = $(this).data('id');
            url = "{{root_url}}/dashboard/reports/view/?id="+id;   
            $.get(url, function( data ){
                $("#load_report_table").html(data);
            });
        });
    <!-- View Report ajax ends -->


    <!-- Prediction Script -->

    var prediction = "{{class_predicted}}";
    if(prediction == "[1]"){
        $('.prediction_result').html('<font color="red">Patient diagonosed with Parkinson.</font>');
    }
    else{
        $('.prediction_result').html('<font color="green">No Parkinson Detected</font>');
    }


    <!-- Prediction Script -->

    <!-- Slide table to show content -->
        $('#data-list-table').find('tr').unbind('click');
        $('#data-list-table').find('tr').click(function(e){
            id = $(this).data('id');
            url = "{{root_url}}/dashboard/datasets/details/?id="+id;
            $.get(url, function(result){

                var scroll_loc = $('.main-panel').scrollTop();

                $('.cust-details-layout').html(result);
                $('.cust-details-layout').slideDown();
                

                $('.cust-details-layout').find('.header').find('.close').unbind('click');
                $('.cust-details-layout').find('.header').find('.close').click(function(e){
                    $('.cust-details-layout').slideUp();
                    $('.main-panel').animate({scrollTop: scroll_loc}, 300);
                });

                $('.main-panel').animate({scrollTop: 0}, 300);
            });

        });

        $('#model-list-table').find('tr').unbind('click');
        $('#model-list-table').find('tr').click(function(e){
            id = $(this).data('id');
            url = "{{root_url}}/dashboard/models/details/?id="+id;
            $.get(url, function(result){

                var scroll_loc = $('.main-panel').scrollTop();

                $('.cust-details-layout').html(result);
                $('.cust-details-layout').slideDown();
                

                $('.cust-details-layout').find('.header').find('.close').unbind('click');
                $('.cust-details-layout').find('.header').find('.close').click(function(e){
                    $('.cust-details-layout').slideUp();
                    $('.main-panel').animate({scrollTop: scroll_loc}, 300);
                });

                $('.main-panel').animate({scrollTop: 0}, 300);
            });

        });



    <!-- slide table row to show content -->

</script>
 <!-- custom_scripts -->
    
</html>