

{% extends "dashboard/dash_header.html" %}
{% block content %}

<div class="wrapper">
    {% include 'dashboard/sidebar.html' %}

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Models</a>
                </div>
                {% include 'dashboard/toplinks.html' %}
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Associated Models</h4>
                                <p class="category">Here's a list of your models</p>
                            </div>
                            <div class="content table-responsive table-full-width">

                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Model Name</th>
                                    	<th>Author</th>
                                    	<th>Last Modified</th>
                                        <th>Algorithm Used</th>
                                    </thead>
                                    <tbody>
                                        
                                        {% for model in model_list %}
                                            <tr>
                                                <td>{{model.model_name}}</td>
                                                <td>{{model.model_author}}</td>
                                                <td>{{model.model_up_date}}</td>
                                                <td>{{model.model_algo}}</td>
                                            </tr>

                                        {% endfor %}
                                        
                                        {% if not model_list %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>Nothing Here Yet. Click on Add More to create a model.</b></td>
                                                <td></td>
                                                <td></td>
                                            </tr> 
                                        {% endif %}

                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <a href="{{root_url}}/dashboard/models/new/" class="btn btn-primary">Add More</a>
                    </div>
                </div>
            </div>
        </div>

        {% include 'dashboard/footer.html' %}


    </div>
</div>

{% endblock %}