

{% extends "dashboard/dash_header.html" %}
{% block content %}

<div class="wrapper">
    {% include 'dashboard/sidebar.html' %}

    <input type="hidden" id="csrf_for_config" value="{{csrf_for_config}}">

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Models</a>
                </div>
                {% include 'dashboard/toplinks.html' %}
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card cust-details-layout">
                            <!-- data will be displayed here -->
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Associated Models</h4>
                                <p class="category">Here's a list of your models</p>
                            </div>
                            <div class="content table-responsive table-full-width">

                                <table id="model-list-table" class="table table-hover table-striped">
                                    <thead>
                                        <th>Model Name</th>
                                    	<th>Author</th>
                                    	<th>Last Modified</th>
                                        <th>Algorithm Used</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        
                                        {% for model in model_list %}
                                            <tr data-id={{model.id}}>
                                                <td>{{model.model_name}}</td>
                                                <td>{{model.model_author}}</td>
                                                <td>{{model.model_up_date}}</td>
                                                <td>{{model.model_algo}}</td>
                                                <td><a data-toggle='modal' id="configure-model-btn" data-target='#configure-model-modal' data-id={{model.id}} href="#">Configure</a></td>
                                                <td>
                                                    <a data-id={{model.id}} data-toggle="modal" id="create-report-btn" data-target="#modal-create-report" href="#">Create Report</a>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                        
                                        {% if not model_list %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>Nothing Here Yet. Click on Add More to create a model.</b></td>
                                                <td></td>
                                                <td></td>
                                            </tr> 
                                        {% endif %}

                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <a href="{{root_url}}/dashboard/models/new/" class="btn btn-primary">Add More</a>
                    </div>
                </div>
            </div>
        </div>

        {% include 'dashboard/footer.html' %}


    </div>
</div>

<!-- Modal Codes -->

<!-- Modal (for configuration)-->
<div id="configure-model-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Configuration Settings</h4>
      </div>
      <div class="modal-body">
            <div class="container-fluid">
                <div class="result">
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="save-config-settings">Save Settings</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal For Create Report Progress -->

<div id="modal-create-report" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Done</h4>
      </div>
      <div class="modal-body">
        <p class="report-created-text"></p>
      </div>
      <div class="modal-footer">
        <p>
            Find all created reports <a href="{{root_url}}/dashboard/reports/">here</a>.
        </p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Codes End -->






{% endblock %}