

{% extends "dashboard/dash_header.html" %}
{% block content %}

<div class="wrapper">
    {% include 'dashboard/sidebar.html' %}

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Models</a>
                </div>
                {% include 'dashboard/toplinks.html' %}
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                    	<div class="card">
                            <div class="well">
                        		<form method="post" class="cust-data-form" action="">
                        		{% csrf_token %}
                        		
                        			{{form.as_p}}
                                    
                        		
                        		<input class="form-control btn btn-primary" type="submit" name="submit" value="Save">
                        		</form>
                            </div>
                    	</div>
                        
                    </div>
                </div>
            </div>
        </div>

        {% include 'dashboard/footer.html' %}


    </div>
</div>


<!-- Modal Code -->

<!-- Modal -->
<div id="datasetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Available Datasets</h4>
      </div>
      <div class="modal-body">
      <div class="container-fluid">
        <div class="content table-responsive table-full-width">

                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Dataset Name</th>
                                        <th>Author</th>
                                        <th>Last Modified</th>
                                    </thead>
                                    <tbody>
                                        {% for data in data_list %}
                                            <tr data-name = '{{data.dataset_name}}' data-id = {{data.id}} class="data-in-modal-row">
                                                <td>{{data.dataset_name}}</td>
                                                <td>{{data.dataset_author}}</td>
                                                <td>{{data.dataset_up_date}}</td>
                                            </tr>
                                        {% endfor %}

                                        {% if not data_list %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>Nothing Here Yet. Click on Add More to add new data.</b></td>
                                                <td></td>
                                            </tr> 
                                        {% endif %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-confirm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal Code Ends -->

{% endblock %}