<div class="content table-responsive table-full-width">

    <table class="table table-hover table-striped">
        
        <tr>
        	<th>Report ID</th>
        	<td>{{ report_id }}</td>
        </tr>
        <tr>
        	<th>Report Name</th>
        	<td>{{ report_name }}</td>
        </tr>
        <tr>
        	<th>Author</th>
        	<td>{{ report_author }}</td>
        </tr>
        <tr>
        	<th>Last Modified</th>
        	<td>{{ report_date }}</td>
        </tr>
        <tr>
        	<th>Algorithm Used</th>
        	<td>{{ algo_used }}</td>
        </tr>
        <tr>
        	<th>Dataset Used</th>
        	<td>{{ dataset_name }}</td>
        </tr>
        <tbody>
            

        </tbody>
    </table>

</div>
<div class="container-fluid">

	<div class="row" style="margin-top:20px;">
		<div class="col-md-4">
			<div class="c100 p{{report_accuracy}} big">
            	<span>Accuracy</span>
            	<span style="margin-top:0.5em;text-align:center">{{report_accuracy}}%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        	</div>
		</div>
		<div class="col-md-4">
			<div class="c100 p{{report_class_error}} big orange">
            <span>Error</span>
            <span style="margin-top:0.5em;">{{report_class_error}}%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        	</div>
		</div>
		<div class="col-md-4">

            {{report_conf_matrix}}
            <label>Confusion Matrix</label>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td></td>
                        <td><b>Predicted</b></td>
                        <td><b>Predicted</b></td>
                    </tr>
                    <tr> 
                        <td><b>Actual</b></td>   
                        <td>{{cu1}}</td>
                        <td>{{cu2}}</td>
                    </tr>
                    <tr>
                        <td><b>Actual</b></td>
                        <td>{{du1}}</td>
                        <td>{{du2}}</td>
                    </tr>
                </tbody>    
            </table>
			<!-- <div class="c100 p70 big green">
            <span>Kappa</span>
            <span style="margin-top:0.5em;">NA</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        	</div> -->
		</div>
	</div>

</div>
