{% load staticfiles %}
<div class="sidebar" data-color="purple" data-image="{% static 'img/sidebar-5.jpg' %}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="profile/" class="simple-text">
                    {{name}}
                </a>
            </div>

            <ul class="nav">
                <li data-page="dashboard" class="active">
                    <a href="{{root_url}}/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li data-page="profile">
                    <a href="{{root_url}}/dashboard/profile">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li data-page="datasets">
                    <a href="{{root_url}}/dashboard/datasets">
                        <i class="pe-7s-note2"></i>
                        <p>Data</p>
                    </a>
                </li>
                <li data-page="models">
                    <a href="{{root_url}}/dashboard/models">
                        <i class="pe-7s-science"></i>
                       
                        <p>Models</p>
                    </a>
                </li>
                <li data-page="reports">
                    <a href="{{root_url}}/dashboard/reports">
                         <i class="pe-7s-news-paper"></i>
                        <p>Reports</p>
                    </a>
                </li>
                <li data-page="prediction">
                    <a href="{{root_url}}/dashboard/predict">
                         <i class="glyphicon glyphicon-dashboard"></i>
                        <p>Predict</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
